.Dashbord{
    flex: 4;
}
.GrapheRecents{
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.62); 
     box-shadow: 5px 6px 20px 0px rgba(0,0,0,0.62);
}
.grapherecentsTitel{
    font-weight: bold;
    font-size: 30px;
    background: -webkit-linear-gradient(#6852B8,#903A9A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: -20px;
}
.buttonGraphe{
    margin: 20px 20px 20px 810px;
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    border-width: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background : linear-gradient(#6852B8,#903A9A);
    cursor: pointer;
}

